BOT_TOKEN=12345678:AaBbCcDdEeFf
SQLALCHEMY_LOGGING=True
DROP_PENDING_UPDATES=True
ADMIN_CHAT_ID=1234567890

# PostgreSQL configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=localhost
POSTGRES_DB=telegram_bot
POSTGRES_PORT=5432
POSTGRES_DATA=/var/lib/postgresql/data

# Redis configuration
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0
REDIS_DATA=/redis_data
